*{
    margin: 0px;
    padding: 0px;
}
.banner{
    width: 100%;
    height: 320px;
}
.banner img{
    text-align: center;
    width: 100%;
    height: 320px;
}
/* nav部分 */
#main{
    background-color: rgb(39,39,39);
    width: 100%;
    height: 70px;
    /*margin-top: -10px;*/
}
.nav_center{
    width: 80%;
    height: 70px;
    /*text-align: center;*/
    margin: 0 auto;
    min-width: 1100px;
    max-width: 1350px;
}
.nav_center img{
    position: relative;
    top: 10px;
    float: left;
}
.nav_center ul{
    /*list-style: none;*/
    float: right;
}
.nav_center ul li{
    display: inline-block;
    float: left;
    color: white;
    width: 120px;
    height: 65px;
    /*background-color: red;*/
    text-align: center;
    line-height: 65px;
}
.nav_center ul li:hover{
    background-color: #ec431c;
}
/*成功案例部分*/
.success_top{
    width: 100%;
    height: 140px;
    /*background-color: burlywood;*/
    text-align: center;
    /*line-height: 10px;*/
    margin-top: 15px;
}
.success_top span{
    display: block;
    /*background-color: #ec431c;*/
    /*margin-top: 10px;*/
}
.success_top .span1{
    font-size: 25px;
    color: rgb(93,93,93);
    font-weight: bold;
    line-height: 80px;
}
.success_top .span2{
    color: rgb(43,43,43);
    font-size: 22px;
    line-height: 0px;
}
.success_top .span3{
    color: red;
    font-size: 25px;
    line-height: 70px;
}
.success_center{
    width: 1080px;
    /*width: 75%;*/
    height: 540px;
    /*float: left;*/
    margin: 0 auto;
    /*background-color: red;*/
    margin-top: 10px;
    background-image: url(../img/index/haha.png);
}
.success_center img{
    /*margin: -10px;*/
    width: 270px;
    height: 270px;
    float: left;
}
.success_center img:hover{
    opacity: 0.1;
    cursor: grab;
}
.success_bottom{
    width: 100%;
    height: 50px;
    /*background-color: aquamarine;*/
    margin-top: 50px;
}
.success_bottom{
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    color: rgb(54,54,54);
    margin-bottom: 5px;
}
/*页脚部分*/
#footer{
    width: 100%;
    height: 215px;
    background-color: rgb(39,39,39);
    color: #6f6f6f;
    border-top: 3px red solid;
}
.footer_top{
    height: 80px;
    width: 980px;
    /*background-color: aqua;*/
    margin: 0 auto;
}
.footer_top ul{
    list-style: none;
}
.footer_top li{
    display: block;
    float: left;
    width: 50px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-right: 50px;
    /*background-color: red;*/
    color: white;
}
.footer_center{
    height: 65px;
    width: 980px;
    /*background-color: blanchedalmond;*/
    margin: 0 auto;
    border-top: 1px solid rgb(59,59,59);
    border-bottom: 1px solid rgb(59,59,59);
}
.footer_center span{
    text-align: center;
    display: inline-block;
    /*width: 270px;
    height: 65px;*/
    line-height: 65px;
    margin-right: 120px;
    float: left;
    font-size: 14px;
}
.footer_center img{
    position: relative;
    top: 4px;
    margin-right: 10px;
}
.footer_bottom{
    height: 65px;
    width: 980px;
    /*background-color: burlywood;*/
    margin: 0 auto;
}
.footer_bottom span{
    text-align: center;
    line-height: 65px;
    margin-right: 50px;
    font-size: 11px;
}